[submodule "tcc_api_ingestao_dados"]
	path = tcc_api_ingestao_dados
	url = https://github.com/LeandroRodriguesCarneiro/tcc_api_ingestao_dados.git

[submodule "tcc_api_autenticacao"]
	path = tcc_api_autenticacao
	url = https://github.com/LeandroRodriguesCarneiro/tcc_api_autenticacao.git
[submodule "tcc_api_chat"]
	path = tcc_api_chat
	url = https://github.com/LeandroRodriguesCarneiro/tcc_api_chat
[submodule "tcc_frontend"]
	path = tcc_frontend
	url = https://github.com/LeandroRodriguesCarneiro/tcc_frontend.git
